# Environments
.env
.flaskenv
venv/
env/
ENV/
*.venv

# Database
*.db
*.sqlite3
jansmrithi.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs
.vscode/
.idea/

# Uploads (Cloudinary handles this now!)
static/uploads/
